.navbar {
  margin-bottom: 0;

  a {
    color: set-text-color($main-color) !important;
  }

  .fa {
    font-size: 18px;
  }
}

.showcase {
  background: url(../img/showcase.jpeg) no-repeat;
  height: 600px;
  padding: 30px 0;

  h1 {
    font-size: 60px;
  }

  .container {
    background-color: #fff;
    opacity: 0.8;
    padding: 20px 30px 30px 30px;
  }
}

.section-a {
  padding: 30px 0;
  text-align: center;
  background: $main-color;
  color: set-text-color($main-color);

  .fa {
    font-size: $icon-size;
  }
}

.section-b {
  background: #e6ebf1;
  padding: 30px 0;

  img {
    width: 100%;
  }
}